

/* ---- grid ---- */

.grid {

    max-width: 1200px;


}



/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
    z-index: 5;
}

/* ---- .grid-item ---- */

.grid-item {
    float: left;
    width: 100px;
    height: 100px;
   background-size: cover;
    background-image: url('../css/index_articles/mansrole.jpg' )!important;
    /*background: #999;*/
    border: 5px solid white;


}

.grid-item--width2 { width: 200px;}
.grid-item--height2 { height: 200px;}

.grid-item:hover {
    background: #8CF;
    cursor: pointer;
}

.grid-item:hover .index_titles{
    visibility: visible;
}



.grid-item.gigante {
    width: 200px;
    height: 300px;
    background: #b9bbbe;
}

.index_titles{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    margin:1rem;
    color: black;
    visibility: hidden;
}

.viewmore{
    font-family: 'Noto Serif', serif;
    font-size: 0.8rem;
}

.viewmore a{
    font-family: 'Noto Serif', serif;
    font-style: italic;
    text-decoration: underline;
}

.a2{
    background-size:cover;
    background-image: url('../css/index_articles/mansrole.jpg');
}

.a3{
    background-size:cover;
    background-image: url('../css/index_articles/Untitled-4.gif');
}

.a8{
    background-size:cover;
    background-image: url('../css/index_articles/Untitled-5.gif');
}
