#responsive_nav{

    position: fixed;
    z-index: 30;
    background-color: white;
    width: 100vw;
    height: 10vh;
    text-align: center;


}


#responsive_nav li {

     font-size: 24px;
     text-decoration: none;
    padding: 5px;
 }




#responsive_nav a {

    color: #000;
}


@media screen and (max-width: 600px) {

    #latestarticles{
        margin-top: 0px;
    }


}